doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    style
      include styles.css
    title=`Resume ${resume.basics.name} – ${resume.basics.label}`
  body
    include pug/header
    div(class='table')
      include pug/summary
      include pug/work
      include pug/projects
      include pug/education
      //- include pug/skills
      //- include pug/publications
      //- include pug/volunteer
      //- include pug/certificates
      //- include pug/awards
      //- include pug/references
      //- include pug/languages
      //- include pug/interests
      //- include pug/links
